@font-face {
    font-family: 'Aclonica', 'Alatsi';
    src: url(/fonts/Aclonica.ttf);
    src: url(/fonts/Alatsi.ttf);
 }

* {
    font-family: 'Aclonica', 'Alatsi';
}


.navbar {
    font-size: 1.2em;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.navbar img {
    overflow: hidden;
    padding: 1%;
    padding-left: 5%;
    padding-right: 10%;
}

.navbar-toggler {
    margin-left: auto;
    float: right;
}

.navbar-collapse {
    padding: 15px;
}

#showcase {
    margin-top: 300px;
}

@media (max-width: 1000px) {
    .navbar-brand {
        width: 72%;
    }
}

.navbar-nav .nav-link {
    margin-right: 15px;
}
a.dropdown-item:hover {
    color: #e6ddc7c1 !important;
    background-color: #5e652a;
    border-radius: 5px;
    transition: background-color 0.3s linear;
}

.navbar-scrolled {
    background-color: #e6ddc7c1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav > nav-item{
    color:#3D3028;
}

.container-fluid {
    width: 100%;
    padding: 0;
}
